:root {
  --primary-color: rgb(251, 242, 255);
  --secondary-color: rgb(69, 29, 88);
  --tertiary-color: rgb(255, 176, 0);
  --miscellaneous-color: rgb(131, 131, 131);
}

body {
  background-color: var(--primary-color);
  text-align: center;
}

.wrapper {
  background-color: var(--secondary-color);
  margin: 20px;
  padding-bottom: 80px;
}

.container {
  text-align: center;
  display: block;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav-item a {
  color: var(--primary-color);
  font-family: "Cutive Mono", monospace;
}
.nav-item a:hover {
  color: var(--tertiary-color);
  font-family: "Cutive Mono", monospace;
}

.nav-item .active {
  font-weight: bolder;
}

.nav-link {
  color: var(--primary-color);
}

.hero {
  padding: 200px 0px 120px;
}

.hero h1 {
  font-size: 96px;
  font-family: "Limelight", cursive;
  color: var(--primary-color);
}

.hero h2 {
  font-size: 26px;
  font-family: "Cutive Mono", monospace;
  color: var(--tertiary-color);
}

.hero p {
  border-radius: 4px;
  font-size: 26px;
  color: var(--tertiary-color);
  font-family: "Cutive Mono", monospace;
  margin-bottom: 0;
}

.animation-mobile {
  display: none;
}

.project .row {
  background-color: var(--primary-color);
  padding: 10px;
}

.project {
  margin-bottom: 20px;
}

.content-box {
  padding: 0px 20px 40px;
  text-align: left;
}

.content-box h3 {
  margin: 20px 10px;
}

.content-box p {
  margin: 20px 10px;
  padding-right: 20px;
  color: var(--miscellaneous-color);
}

.cta {
  margin: 50px 0;
}

.header-small {
  color: var(--primary-color);
  font-size: 24px;
  margin-bottom: 60px;
}

.header-medium {
  margin: 90px 0 40px;
  font-size: 46px;
  font-family: "Limelight", cursive;
  color: var(--tertiary-color);
}

.about {
  padding-bottom: 40px;
}

.card {
  min-height: 300px;
  display: block;
  margin: 0 auto;
  border-radius: 0;
}

.card-title {
  color: var(--secondary-color);
  font-size: 24px;
  padding: 10px;
  margin-bottom: 20px;
}

.card-text {
  color: var(--miscellaneous-color);
  padding: 10px;
}

.notation-container {
  padding-left: 10px;
  margin-top: 40px;
}

footer p {
  color: var(--secondary-color);
  font-size: 20px;
  font-family: "Cutive Mono", monospace;
  line-height: 1;
}

footer {
  margin-bottom: 40px;
}

i {
  color: var(--secondary-color);
  font-size: 40px;
}

i:hover {
  color: var(--tertiary-color);
}

.socials {
  margin: 30px;
}

.primary-link {
  margin: 40px 10px;
  padding: 10px 16px;
  text-decoration: none;
  background-color: var(--secondary-color);
  color: white;
}

.primary-link:hover {
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  border: 1px solid var(--secondary-color);
}

.secondary-link {
  margin: 20px;
  padding: 10px 16px;
  text-decoration: none;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
}

.secondary-link:hover {
  background-color: var(--tertiary-color);
  color: white;
  border: 1px solid var(--secondary-color);
}

.tertiary-link {
  color: var(--tertiary-color);
  text-decoration: none;
}

.tertiary-link:hover {
  font-weight: 300;
  color: var(--tertiary-color);
}

.game {
  margin: 60px 0 40px;
}

.about-me {
  margin-top: 150px;
  text-align: left;
}

.hero-about {
  text-align: left;
}

.image-box img {
  border: 10px solid var(--primary-color);
  margin: 20px 0;
  max-height: 400px;
}

.hero-about .image-box {
  padding-top: 40px;
}

.hero-about h1 {
  font-size: 64px;
  font-family: "Limelight", cursive;
  color: var(--primary-color);
}

.hero-about h2 {
  font-size: 20px;
  font-family: "Cutive Mono", monospace;
  color: var(--tertiary-color);
}

.hero-about p {
  font-size: 20px;
  color: var(--tertiary-color);
  font-family: "Cutive Mono", monospace;
  margin-bottom: 0;
}

.hero-about ul {
  list-style-type: none;
  color: var(--primary-color);
  text-align: left;
  padding-left: 0;
}

.hero-about i {
  color: var(--tertiary-color);
  font-size: 16px;
}

.about-content-box {
  padding: 20px 20px 40px 0;
}

.text-small {
  font-size: 18px;
  color: var(--primary-color);
  font-weight: 200;
}

.highlight {
  color: var(--tertiary-color);
  text-decoration: none;
}

.content-card {
  background: var(--primary-color);
  text-align: left;
  padding: 20px;
  margin: 10px;
}

.content-card p {
  font-size: 14px;
}

.img-companies {
  border: 1px solid var(--tertiary-color);
  margin-bottom: 16px;
  height: 50px;
}

.img-certifications {
  border: 2px solid #e6e6ff;
  margin-bottom: 16px;
  width: 100px;
}

.separator {
  margin-top: 140px;
  color: var(--primary-color);
}

.cv {
  margin: 160px 0;
  padding-bottom: 100px;
}

.cv .header-medium {
  text-align: left;
}

.projects {
  text-align: left;
}

.projects a {
  margin: 140px 0;
}

@media (max-width: 700px) {
  .animation {
    display: none;
  }

  .animation-mobile {
    display: block;
  }

  .hero {
  padding: 150px 0px 50px;
}

  .hero h1 {
    font-size: 60px;
    padding: 10px;
  }

  .card {
    margin-bottom: 10px;
  }

  .hero h2 {
    font-size: 20px;
  }

  .hero p {
    font-size: 20px;
  }

  .wrapper {
    margin: 10px 10px;
    padding-bottom: 100px;
  }

  .header-medium {
    margin: 120px 0 40px;
    font-size: 40px;
  }

  .hero-about {
    text-align: center;
  }

  .about-me {
    margin-top: 80px;
  }

  .about-content-box .text-small {
    text-align: center;
  }

  .image-box img {
    border: 10px solid var(--primary-color);
    margin-bottom: 40px;
  }
}
